NFT_INDEXER_DATABASE_URL=postgres://nft_indexer:replace-me@localhost:5432/rmt_nft_indexer?sslmode=disable
NFT_INDEXER_RPC_URL=https://rpc.mainnet.chain.robinhood.com/
NFT_INDEXER_FINALITY_DEPTH=64
NFT_INDEXER_BATCH_SIZE=2000
NFT_INDEXER_MAX_BATCHES_PER_CYCLE=16
NFT_INDEXER_POLL_INTERVAL_MS=5000
NFT_INDEXER_DATABASE_POOL_SIZE=8
NFT_INDEXER_PORT=3009
